In [53]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
import datetime
import time

import numpy as np

import re

In [54]:
def extract(coinname):
    df = pd.read_csv('{}.csv'.format(coinname), engine='python')
    return df

In [83]:
def merge_data(tradingview,df):
    new = pd.DataFrame(columns=['Date', 'Trading View'])
    new['Date'] = df['Date']

    oldDate = new['Date'][0]

    for i in range(new.shape[0]):
        valsBetween = tradingview[tradingview['Time Stamp'] > oldDate]
        valsBetween = valsBetween[tradingview['Time Stamp']  < new['Date'][i]]

        #cols = 'title ' + valsBetween['title'] + ' score ' + valsBetween['score'].apply(lambda x: num2words(x)) + ' comments ' + valsBetween['num_comments'].apply(lambda x: num2words(x))
        cols = 'Dec' + valsBetween['Dec'] + ' Views ' + valsBetween['Views'].map(str) + ' Like ' + valsBetween['Like'].map(str)
        new['Trading View'][i] = (cols.str.cat(sep='\n'))
        oldDate = new['Date'][i]

        
    return new

In [84]:
price = pd.read_csv('Price/BTC.csv',engine='python' )

In [85]:
tradingview = extract('BTC')

In [86]:
merge_data(tradingview, price)

C:\Users\saroj\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\saroj\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

             Date Trading View
0      1364774400
1      1364778000
2      1364781600
3      1364785200
4      1364788800
5      1364792400
6      1364796000
7      1364799600
8      1364803200
9      1364806800
10     1364810400
11     1364814000
12     1364817600
13     1364821200
14     1364824800
15     1364828400
16     1364832000
17     1364835600
18     1364839200
19     1364842800
20     1364846400
21     1364850000
22     1364853600
23     1364857200
24     1364860800
25     1364864400
26     1364868000
27     1364871600
28     1364875200
29     1364878800
...           ...          ...
45527  1528671600
45528  1528675200
45529  1528678800
45530  1528682400
45531  1528686000
45532  1528689600
45533  1528693200
45534  1528696800
45535  1528700400
45536  1528704000
45537  1528707600
45538  1528711200
45539  1528714800
45540  1528718400
45541  1528722000
45542  1528725600
45543  1528729200
45544  1528732800
45545  1528736400
45546  1528740000
45547  1528743600
45548  1528747200
45549  1528750800
45550  1528754400
45551  1528758000
45552  1528761600
45553  1528765200
45554  1528768800
45555  1528772400
45556  1528776000

[45557 rows x 2 columns]